@charset "utf-8";

*{margin:0; padding:0;}
li{list-style: none;}
a{color:#333; display: block; text-decoration: none;}

/* header nav */

nav{
    width:700px;
    text-align: center;
    margin:10 auto;
}

nav > ul > li > a{
    width:700px;
    height:50px;
    line-height: 50px;
    color:white;
    background-color: pink;
}

.depth02{
    display: none;
}

.depth02 li{
    line-height:50px;
    background-color: rgb(250, 243, 229);
    border-bottom: 1px dashed #ccc;
}

.depth01 > a.on{
    background-color: #000;
}